[Unit]
Description=Volla Phone Post Install.

[Service]
Type=simple
ExecStart=/usr/bin/volla-yggdrsil-post-install

[Install]
WantedBy=default.target
