[Unit]
Description=Enable Wi-FI
After=lxc@android.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "sleep 20; echo 1 > /dev/wmtWifi"

[Install]
WantedBy=multi-user.target